<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Listado de Estudiantes</title>
</head>
<body>
<h1> Gestion de Estudiantes</h1>
<a href="/estudiantes/nuevoEstudiante">Nuevo Estudiante</a>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> NOMBRE </th>
        <th> APELLIDOS</th>
        <th> DNI </th>
        <th> CORREO </th>
        <th> CARRERA </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="estudiante : ${estudiantes}">
        <td th:text="${estudiante.id}"></td>
        <td th:text="${estudiante.nombres}"></td>
        <td th:text="${estudiante.apellidos}"></td>
        <td th:text="${estudiante.dni}"></td>
        <td th:text="${estudiante.correo}"></td>
        <td th:text="${estudiante.id_carrera}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>