<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Nuevo Estudiante</title>
</head>
<body>

<h1> Nuevo de Estudiante</h1>
<form th:action="@{''}" method="post" th:object="${estudiante}">
    <div>
        <label for ="id">id </label>
        <input type="text" id="id" th:field="*{id}">
    </div>
    <div>
        <label for ="nombres">nombre </label>
        <input type="text" id="nombres" th:field="*{nombres}">
    </div>
    <div>
        <label for ="apellidos">apellidos </label>
        <input type="text" id="apellidos" th:field="*{apellidos}">
    </div>
    <div>
        <label for ="dni">dni </label>
        <input type="number" id="dni" th:field="*{dni}">
    </div>
    <div>
    <label for="correo">Correo</label>
    <input type="text" id="correo" th:field="*{correo}">
</div>
    <div>
        <label for="id_carrera">Carrera</label>
        <input type="text" id="id_carrera" th:field="*{id_carrera}">
    </div>

    <button>Guardar</button>
    <a href="/estudiantes">Cancelar</a>
</form>
</body>
</html>